@page "/bio"

<h1>SolutionPLUS - How?</h1>

<p1>Tech and the idea of how making things faster, is itself, moving faster than ever before. It's simply not sustainable to keep up with unless you have a never-ending flow of cash for new hires, which if you don't.... keep read.</p1>


<p2>A consultant comes in, whips up a solution, perhaps implements it, and leaves. Where does that leave the existing engineers? Still unable to manage, maintain, or implement anything new.</p2>

<p3>SolutionPLUS provides real world, automated, and codified solution architecture and code for any environment. After the code is written and the architecture is in place, SolutionPLUS trains the engineering staff for free on how to maintain, work with, and modify the solution.</p3>